html,body{
    width:100%;
    overflow: auto;
    background: opacity: 0;
    font-family: Consolas;
}
.head{

    width: 100%;
    background: #24292e;
    line-height: 50px;
    font-size: 16px;
}
.head span{
    float: left;
    width: 90px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
}
.head a{

    color: #FFF;
    overflow: scroll;
}
.head a:hover{
    color: #909090;
}
.list li{

    margin-left: 20px;
    padding: 20px;
    width: 120px;
    float: left;
    position: relative;
    display: block;
}
.list li a{
    display: block;
    width: 100%;
    background: #FFF;
    border:3px solid   transparent;
}
.list a img{
    width: 100%;
}
.list li a p{
    height:50%;
    font-size: 16px;
    color: #999;
    text-decoration:  solid #999999;
}
.list li a span{
    font-size:16px;
    color: #999;
    text-align: center;
    font-weight: 1000;

}
.list li a:hover{
    border : 3px solid #E01D20;
    text-decoration:  underline #999999;
}